<% sender = User.find(message.sender_id) %>
<% if sender.id == current_user.id %>
  <div class="content-card content-organizer" >
    <div class="d-flex align-items-center">
      <div>
        <div class="user-info-message">
          <p class="mr-3"><small><%= current_user.first_name %> <%= current_user.last_name %></small></p>
          <p><small><%= message.created_at.in_time_zone("Asia/Tokyo").strftime('%H:%M') %></small></p>
        </div>
        <div id="message-<%= message.id %>">
          <p class="content"><%= message.content %></p>
        </div>
      </div>
      <div class="user">
        <p>you</p>
      </div>
    </div>
  </div>
<% else %>
  <div class="content-card" id="message-<%= message.id %>">
    <div class="d-flex align-items-center">
      <div class="user">
        <%= sender.first_name %>
      </div>
      <div>
        <div class="user-info-message">
          <p><small><%= sender.first_name %> <%= sender.last_name %></small></p>
          <p><small><%= message.created_at.in_time_zone("Asia/Tokyo").strftime('%H:%M') %></small></p>
        </div>
        <div id="message-<%= message.id %>">
          <p class="content"><%= message.content %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
