<div class="container">
  <div class="row">
<<<<<<< HEAD
    <h1>Users</h1>
     <% @users.each do |user| %>
      <div class="col-12 user-name">
        <%= user.first_name %> <%= user.last_name %>
      </div>
    <% end %>
    <%= paginate @users %>
=======
    <ul>
      <% @users.each do |user| %>
        <li><%= user.first_name %> <%= user.last_name %></li>
      <% end %>
    </ul>
>>>>>>> 66ec2ea... created users by faker
  </div>
</div>
