<div class="container">
  <h4 class="text-center mb-5">Friends</h4>
  <% @list.each do |item| %>
    <% if item.class == Conversation %>
      <% if item.starter_id == current_user.id %>
        <% user = User.find(item.recipient_id) %>
      <% else %>
        <% user = User.find(item.starter_id)  %>
      <% end %>
      <%= link_to conversation_path(item) do %>
        <div class="card user-name">
          <div class="card-message">
            <% if item.messages.last.read == false && item.messages.last.sender != current_user %>
              <i class="fas fa-envelope-square"></i>
            <% end %>
              <%= user.name.upcase %>
              <p><%= item.messages.last.content[0..20] %>...<p>
          </div>
          <div class="card-info">
            <small><%= item.messages.last.created_at.in_time_zone("Asia/Tokyo").strftime('%m/%d %H:%M') %></small>
            <p class="card-info-message"><%= item.messages.count %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <% if current_user.conversations.find_by(starter_id: item.id) || current_user.conversations.find_by(recipient_id: item.id) %>
        <% current_user.conversations.find_by(starter_id: item.id) ? c = current_user.conversations.find_by(starter_id: item.id) : c =  current_user.conversations.find_by(recipient_id: item.id) %>
          <%= link_to conversation_path(c) do %>
            <div class="card user-name">
              <div class="card-message">
                <%= item.name.upcase %>
              </div>
            </div>
          <% end %>
      <% else %>
        <div class="card user-name">
          <div class="card-message">
            <%= item.name.upcase %>
            <%= simple_form_for(@new_conversation) do |f| %>
            <%= f.input :starter_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.input :recipient_id, as: :hidden, input_html: { value: item.id } %>
            <%= button_tag type: "submit", class: "card-conversation-path"%>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate @list, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
</div>
