<div class="container">
  <% @list.each do |item| %>
    <% if item.class == Conversation %>
      <% if item.starter_id == current_user.id %>
        <% user = User.find(item.recipient_id) %>
      <% else %>
        <% user = User.find(item.starter_id)  %>
      <% end %>
      <%= link_to conversation_path(item) do %>
        <div class="card col-12 user-name">
          <%= user.name %>
          <%= item.messages.last.created_at.in_time_zone("Asia/Tokyo").strftime('%m/%d %H:%M') %>
          <%= item.messages.count %>
        </div>
      <% end %>
    <% else %>
      <% if current_user.conversations.find_by(starter_id: item.id) || current_user.conversations.find_by(recipient_id: item.id) %>
        <% current_user.conversations.find_by(starter_id: item.id) ? c = current_user.conversations.find_by(starter_id: item.id) : c =  current_user.conversations.find_by(recipient_id: item.id) %>
          <%= link_to conversation_path(c) do %>
            <div class="card col-12 user-name">
              <%= item.name %>
            </div>
          <% end %>
      <% else %>
      <%= simple_form_for(@new_conversation) do |f| %>
        <%= f.input :starter_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :recipient_id, as: :hidden, input_html: { value: item.id } %>
        <div class="card col-12 user-name">
          <%= item.name %>
          <%= button_tag type: "submit", class: "card-conversation-path"%>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= paginate @list %>
</div>
