<div class="container">
  <div class="row">
     <% @users.each do |user| %>
      <div class="col-12 user-name">
        <% conversation = @conversations.find_by(starter_id: user.id) || @conversations.find_by(recipient_id: user.id) %>
        <% if conversation %>
          <%= link_to conversation_path(conversation) do %>
            <div class="card">
              <div>
                <%= user.first_name %> <%= user.last_name %>
              </div>
              <%= conversation.messages.present? ? "#{conversation.messages.last.created_at.in_time_zone("Asia/Tokyo").strftime('%m/%d %H:%M')}" : "" %>
            </div>
          <% end %>
        <% else %>
          <%= simple_form_for(@new_conversation) do |f| %>
              <div class="card">
                <%= user.first_name %> <%= user.last_name %>
                <%= f.input :starter_id, as: :hidden, input_html: { value: current_user.id } %>
                <%= f.input :recipient_id, as: :hidden, input_html: { value: user.id } %>
                <%= button_tag type: "submit", class: "card-conversation-path"%>
              </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= paginate @users %>
  </div>
</div>

