<div class="container">
  <h1><%= @user.name %></h1>
  <% if @conversation %>
    <div id="messages" data-conversation-id="<%= @conversation.id %>">
      <% @conversation.messages.order(created_at: :asc).each do |message| %>
        <%= render "messages/message", conversation: @conversation, message: message  %>
      <% end %>
    </div>
    <%= simple_form_for([@conversation, @new_message], remote: true) do |f| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.input :content , required: true, label: false, class: "input-field" %>
        <%= f.submit 'send', class: "btn btn-outline-primary" %>
    <% end %>
  <% else %>
    <p class="text-center">Start talking to <%= @user.name %> !</p>
    <%= simple_form_for(@new_conversation) do |f| %>
      <%= f.input :starter_id, as: :hidden, input_html: { value: current_user.id } %>
      <%= f.input :recipient_id, as: :hidden, input_html: { value: @user.id } %>
      <%= f.simple_fields_for :messages do |message_form| %>
        <%= message_form.input :content, label: false %>
      <% end %>
      <%= f.submit class: "btn btn-outline-primary" %>
    <% end %>
  <% end %>
</div>

